@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.list{
   width: 400px;
   height: auto;
   min-height: 400px;
   border-color: #cd9ca0;
}

h1{
  font-size: clamp(43px, 5vw, 60px);
  font-weight: 600;
}

input::placeholder{
   font-size: small;
   padding: 10px;
}

input{
   border: 2px solid transparent;
   background-color: #efeded;
}

button{
   height: 40px;
   width: 40px;
}

.bi:hover:hover{
   color: #373636;
}

.todo {
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 5px;
   margin: 10px 0;
   padding: 5px 10px;
   transition: all 0.2s ease;
 }
 
 .todo:first-child {
   margin-top: 0;
 }
 
 .todo:last-child {
   margin-bottom: 0;
 }
 
 .todo:hover {
   background-color:#53a9e2;
   transition: background-color 0.8s ease;
 }
 
 .todo label {
   cursor: pointer;
   width: fit-content;
   display: flex;
   align-items: center;
 }
 
 .todo span {
   padding-left: 20px;
   position: relative;
   cursor: pointer;
 }
 
 span::before {
   content: "";
   height: 20px;
   width: 20px;
   position: absolute;
   margin-left: -30px;
   margin-top: 2px;
   border-radius: 100px;
   border: 2px solid #e6b7eca1;
 }
 
 input[type='checkbox'] {
   visibility: hidden;
 }

 input:checked + span {
  text-decoration: line-through;
 }

 
 .todo:hover input:checked + span::before, input:checked + span::before {
   background: url('/assets/svg/check.svg') 50% 50% no-repeat #09bb21;
   border-color: #09bb21;
 }
 
 .todo:hover span::before {
   border-color: #eee;
 }
 
 .todo .delete-btn  {
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 24px;
 }
 
 .todos-container{
   height: 500px;
   overflow: overlay;
 }
 
 .todos-container::-webkit-scrollbar-track  {
   background: #f7f7f7;
   border-radius: 20px
 }
 
 .todos-container::-webkit-scrollbar  {
   width: 0;
 }
 
 .todos-container:hover::-webkit-scrollbar  {
   width: 7px;
 }
 
 .todos-container::-webkit-scrollbar-thumb  {
   background: #d5d5d5;
   border-radius: 20px;
 }
 
.filter, .delete-all{
  color: #ffffff;
  border: 2px solid transparent;
  box-shadow: 2px 2px #8b8a8a;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: #3498db;
}

.filter.active, .filter:hover {
  background-color: #2980b9;
  transition: background-color 0.3s ease;
}

.delete-all:hover {
   background-color: #2980b9;
   transition: border 0.8s ease;
   border: 2px solid #2980b9;
 }

@media (max-width: 320px) {
  
  .input-container {
    align-items: stretch;
  }
  .todo-input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
  }

  .filters {
    align-items: stretch;
    margin-top: 10px;
  }
  .filter,
  .delete-all {
    margin-top: 5px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
  }
  .todos-container {
    height: auto;
  }
  .todo {
    padding: 5px;
    font-size: 14px;
  }
  .todo label {
    width: 100%;
    margin-bottom: 5px;
  }
  .todo .delete-btn {
    font-size: 20px;
    align-self: flex-end;
  }
  .empty-image{
    width: 200px;
    height: 150px;
    margin: 0;
  }
}